<%# TODO: Add filters%>
<div class="search-section">
  <%= form_with url: search_books_path, method: :get, class: "search-form", data: { turbo: false } do |f| %>
    <%= f.text_field :query, 
        placeholder: "Search by title or author...", 
        class: "search-input",
        value: params[:query] %>
    <%= f.submit "Search", class: "btn-search" %>
  <% end %>
</div>
