<%= link_to book_path(book), class: "book-card-link" do %>
  <div class="book-card">
      <div class="book-cover">
        <%= book.title.upcase %>
      </div>
      <div class="book-info">
        <div class="book-title"><%= book.title %></div>
        <div class="book-author"><%= book.author %></div>
        <div class="book-rating">
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
        </div>
      </div>
  </div>
<% end %>
