<div class="book-card">
    <div class="book-cover">
      SMTH
    </div>
    <div class="book-info">
      <div class="book-title"><%= book.title %></div>
      <div class="book-author"><%= book.author %></div>
      <div class="book-rating">
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
        <span class="star">★</span>
      </div>
    </div>
</div>
