<% user_book = book.user_books.find { |ub| ub.reader_id == user.id } %>

<%= link_to book_path(book), class: "book-card-link" do %>
  <div class="book-card">
    <div class="book-cover">
      <%= book.title.upcase %>
    </div>

    <div class="book-info">
      <div class="book-title"><%= book.title %></div>
      <div class="book-author"><%= book.author %></div>

      <% if user_book&.rating.present? %>
        <div class="book-rating">
          <% user_book.rating.times do %>
            <span class="star">★</span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
